<!DOCTYPE html>
<html>
<head>
   <title>Multiple Choice Form</title>
</head>
<body>
   <h1>Select one or more options:</h1>
   <form method="post">
       {% for option in options %}
           <input type="checkbox" name="choices" value="{{ option }}"> {{ option }}<br>
       {% endfor %}
       <br><br>
       <input type="submit" value="Submit">
   </form>

   <h2>Selected Options History:</h2>
   <form action="{{ url_for('clear_history') }}" method="get">
       <input type="submit" value="Clear History">
   </form>
   <ul>
       {% for selected_choices in history %}
            {% if selected_choices != [] %}
                <li>{{ selected_choices }}</li>
            {% endif %}
       {% endfor %}
   </ul>


</body>
</html>
